body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Verdana', sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

header {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

aside {
    background: #333;
    color: #fff;
    padding: 20px;
    flex: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
